@font-face {
  font-family: "fira-mono";
  src: url("/fonts/FiraMono-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}


.wrapper {
  width: 88%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: block;
  background-color: #161f37;
  color: #fff;
  border: none;
  padding: 5px 15px;
  font-family: 'fira-mono';
  border-radius: 5px;
  width: auto;
  transition: all 0.2s ease-in-out;

  &--fix {
    width: 150px;
  }

  &--logout {
    background-color: transparent;
    color: #161f37;
    border: 2px solid #161f37;

    &:hover {
      background-color: #161f37;
      color: #fff;
    }
  }

  &--auth {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #161f37;
    border: 2px solid #161f37;

    &:before {
      margin-top: 6px;
      content: url("https://img.icons8.com/small/16/000000/google-logo.png");
      margin-right: 15px;
    }
  }
}

.btn:hover, .btn:focus {
  opacity: 0.7;
}

.btn:active {
  opacity: 0.5;
}
